pkgbase = kneadnet-bin
	pkgdesc = Convert electronic schematics into breadboard layouts and routing suggestions
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/dfdc1123/knead-net-gui
	arch = x86_64
	license = GPL-3.0-only
	depends = gtk3
	depends = webkit2gtk-4.1
	provides = kneadnet
	conflicts = kneadnet
	conflicts = knead-net-gui
	noextract = kneadnet_0.2.0_amd64.deb
	noextract = KneadNet-examples-0.2.0.zip
	options = !strip
	source_x86_64 = kneadnet_0.2.0_amd64.deb::https://github.com/dfdc1123/knead-net-gui/releases/download/v0.2.0/kneadnet_0.2.0_amd64.deb
	source_x86_64 = KneadNet-examples-0.2.0.zip::https://github.com/dfdc1123/knead-net-gui/releases/download/v0.2.0/KneadNet-examples-0.2.0.zip
	sha256sums_x86_64 = REPLACE_WITH_DEB_SHA256
	sha256sums_x86_64 = REPLACE_WITH_EXAMPLES_SHA256

pkgname = kneadnet-bin
